.desni {
    float: right;
}
.vrtiljak{
  margin-left: 50px;
  margin-right: 50px;
}
.item {
height: 300px;
}

.item img {
max-height: 100%;
max-width: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
.headlini {
  background-color: #232323;
  color: #F4F4F4;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #F4F4F4;
  border-top: 1px solid #F4F4F4;
  border-radius: 3px;
}
.ponudba {
  text-align: center;
  font-family: Tahoma;
  font-size: 16px;
}
.footer {
  border-top: 1px solid #F4F4F4;
  margin-top: 20px;
  padding-top: 20px;
}
.navigacija {
  position: relative;
  float: right;
  margin-right: 40%;
}

.navi {
  text-decoration: none;
  color: inherit;
}
.navi:hover {
  text-decoration: none;
  color: inherit;
}
*:focus{
    outline: none !important;
    text-decoration: none !important;
}
h2 {
  color: #F4F4F4;
  display: inline;
  float: left;
  margin-bottom: -5px;
}
